@font-face {
     font-family: "Roboto 400";
     src: local("(*%$@#@"), url("../fonts/Roboto-Regular.ttf") format("truetype");
     font-style: normal;
 }

 @font-face {
     font-family: "Roboto 700";
     src: local("(*%$@#@"), url("../fonts/Roboto-Bold.ttf") format("truetype");
     font-style: normal;
 }