@import '../scss/fonts.scss';
@import '../mixins/mixins';
@import'../scss/contact';

$main__background-color:#F2AE4D;
$all-text-color:#011F3A;
$all__back-color: #fff;
$all__btn_radius: 44px;
$all__btn-back-color:#3D5675;
$color7:#777;
$colora1 :#A1A1A1;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #EEEEEE;
}
.container{
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
//               header 
 .site-header{
     padding: 19px 24px;
     background-color: $all__back-color;
     box-shadow: 0px 14px 44px rgba(84, 84, 84, 0.25);
     background-color: $all__back-color;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
 }
 .header , .header__list , .header__account{
    @include center(space-between);
 }
 .header__item{
    position: relative;
 }
 .header__item + .header__item{
    margin-left: 48px;
 }
 .header__link{
    @include text;
 }
 .header__link::after{
    content: ' ' ;
    position: absolute;
    width: 0;
    height: 1px;
    left: 0;
    bottom: -3px;
    background-color: #011F3A;
    transition: all 0.5s ease;
 }
 .header__link:hover::after{
    width: 100%;
 }

 .header__account-link{
    @include text;
    margin-right: 15px;
 }
//     main
.hero-section{
    background-color: $main__background-color;
    padding: 165px 0 205px 0;
    background-image: url("../img/hero_img.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 507px);
}
.hero-content{
    width: 40%;
}
.hero-content__title{
    margin-bottom: 33px;
    color: $all-text-color;
    font-weight: 400;
    line-height: 56px;
    font-size: 48px;
}
.hero-content__text{
    margin-bottom: 14px;
    @include title;
    color: $all-text-color;
}
.hero-content__link{
    @include btn;
    background-color: $all__btn-back-color;
    border-radius: $all__btn_radius;
    width: 228px;
    padding: 19px 0;
}
.hero-content__link:hover{
    @include btn_hover;
}
// card
.card-section{
    padding: 20px 0;
    background-color: $all__back-color;
}
.card-list , .card__item{
    @include center(space-between);
}
.card__item-span{
    font-weight: 400;
    line-height: 19px;
    font-size: 15px;
    letter-spacing: 0.6px;
    color: #A1A1A1;
}

// customer
.customer-top{
    @include center(space-between);
    padding: 57px 0 64px 0;
}
.customer-top{
    padding: 57px 0 64px 0;
}
.customer-top__title{
    font-weight: 400;
    line-height: 38px;
    font-size: 32px;
    color: $all-text-color;
}
.customer-top__link{
    width: 247px;
    padding: 13px 0;
    @include btn;
    background-color: $all__btn-back-color;
    border-radius: $all__btn_radius;
}
.customer-top__link:hover{
    @include btn_hover;
}
.customer-list{
    margin-bottom: 46px;
    @include center(space-between);
    flex-wrap: wrap;
    background-color: $all__back-color;
}
.customer__item{
    width: 400px;
    height: 417px;
    border: 1px solid #EDEDED;
}
.customer-item__title{
    margin: 8px 0 8px 25px;
    font-weight: 400;
    line-height: 21px;
    font-size: 18px;
    letter-spacing: 0.36px;
    color: $all-text-color;
}
.customer-item__content{
    @include center(space-between);
    margin: 0 25px;
}
.customer-content__text{
    width: 209px;
    @include title;
    color: $color7;
}
.customer-content__span{
    @include title;
    color: $colora1;
}
.customer-bottom{
    width: 385px;
    margin: 0 auto;
    @include center(space-between);
}
.customer-bottom span{
    font-weight: 700;
    line-height: 24px;
    font-size: 15px;
    color: $colora1;
}
.customer-bottom__link{
    padding: 13px 0;
    width: 158px;
    border-radius: $all__btn_radius;
    display: block;
    text-align: center;
    font-weight: 700;
    line-height: 18px;
    font-size: 14px;
    border: 1px solid #fff;
    text-transform: uppercase;
    letter-spacing: 1.96px;
    transition: all 0.5s ease;
    color: $all__btn-back-color;
    background-color: $all__back-color;
}
.customer-bottom__link:hover{
    background-color: transparent;
}
// design
.design{
    margin: 100px 0;
    padding: 88px 0;
    background: #72BDA3;
    box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
}
.design__title{
    font-weight: 400;
    line-height: 41px;
    font-size: 32px;
    text-align: center;
    color: #011F3A;
}
.design__list{
    @include center(space-around);
}
.design__item{
    width: 300px;
    margin: 64px 0 76px 0;
    @include center(center);
    flex-direction: column;
}
.design__item img{
    width: 100%;
    height: auto;
}
.design__item h3{
    font-weight: 400;
    line-height: 23px;
    font-size: 18px;
    letter-spacing: 0.36px;
    color: $all-text-color;
}
.design__item p {
    width: 196px;
    margin-top: 10px;
    @include title;
    text-align: center;
    color: $all__btn-back-color;
}
.design__link{
    margin: 0 auto;
    width: 220px;
    padding: 13px 0;
    background-color: $all__btn-back-color;
    border-radius: $all__btn_radius;
    @include btn;
}
.design__link:hover{
    @include btn_hover;
}
// 
.advantage{
    margin: 100px 0;
    padding: 88px 0;
}
.advantage__title{
    font-weight: 400;
    line-height: 41px;
    font-size: 32px;
    color: #011F3A;
}
.advantage__list{
    @include center(space-between);
    align-items: flex-start;
}
.advantage__item{
    width: 255px;
}
.advantage__item img{
    width: 100%;
    height: 254px;
    margin-top: 82px;
}
.advantage__item h3{
    font-weight: 700;
    line-height: 23px;
    font-size: 18px;
    letter-spacing: 0.36px;
    color: $all-text-color;
}
.advantage__item p{
    margin-top: 8px;
    @include title;
    color: $colora1;
}
//  page
.page{
    @include center(space-between);
    margin: 0 auto;
    padding: 110px 0 90px 0;
    background: #FFCA3A;
    box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
}
.page-left{
    width: 50%;
    padding: 0 132px;
    @include center(center);
    flex-direction: column;
    border-right: 1px solid #D9D9D9;
}
.page-left h2{
    margin-top: 20px;
    font-weight: 700;
    line-height: 36px;
    font-size: 24px;
    color: $all-text-color;
}
.page-left p{
    @include title;
    color: $all__btn-back-color;
    text-align: center;
}
.page-left a{
    display: block;
    width: 204px;
    margin-top: 10px;
    text-align: center;
    padding: 13px 0;
    border-radius: $all__btn_radius;
    background-color: $all__back-color;
    border: 1px solid $all__back-color;
    @include text;
    color: $all__btn-back-color;
}
.page a:hover{
    background-color: transparent;
    color: $all__back-color;
}
// arka
.arka-section{
    margin: 100px 0 100px 0;
}
.arka__title{
    font-weight: 700;
    line-height: 38px;
    font-size: 32px;
    text-align: center;
    color: $all-text-color;
}
.arka-list{
    background: #FFFFFF;
    box-shadow: 0px 14px 44px rgba(143, 143, 143, 0.25);
}
.arka__item{
    margin-top: 55px;
    @include center(space-around);
}
.arka-item__left img{
    display: block;   
    margin-top: 100px;
}
.arka-item__left img ~ img{
    margin: 20px 0 100px 0;
}
.arka-item__right img{
    display: block;   
    margin-top: 100px;
}
.arka-item__right img ~ img{
    margin: 20px 0 100px 0;
}

.arka__item-df{
    @include center(space-between);
}
.arka__left{
    width: 50%;
    @include center(none);
}
.arka__left img{
    width: 50%;
}
.arka__right{
    width: 50%;
    padding: 0 106px;
}
.arka-right__box{
    @include center(none);
    margin-top: 12px;
}
.arka-right__box .wrap{
    margin-left: 20px;
}
.arka-right__box .wrap h4{
    @include text;
    margin-bottom: 5px;
    color: $all-text-color;
    font-size: 18px;
}
.arka-right__box .wrap span{
    @include title;
    color: $colora1;
}
.arka-right__box a{
    margin-left: 6px;
    display: block;
    width: 160px;
    padding: 13px 0;
    border-radius: $all__btn_radius;
    background-color: #f2f2f2;
    text-align: center;
    @include text;
    color: $all__btn-back-color;
    border: 1px solid #f2f2f2;
}
.arka-right__box a:hover{
    background-color: transparent;
}
.arka__item:nth-child(3){
    flex-direction: row-reverse;
}
// wrapper
.wrapper-section{
    padding: 120px 0;
}
.wrapper__title{
    font-weight: 700;
    line-height: 36px;
    font-size: 31px;
    text-align: center;
    color: $all-text-color;
}
.wrapper-contant{
    width: 490px;
    margin: 0 auto;
    margin-top: 55px;
    @include center(space-between);
}
.wrapper-contant a:nth-child(1){
    background-color: $all__btn-back-color;
    border-radius: $all__btn_radius;
    @include text;
    padding: 13px 0;
    display: block;
    width: 220px;
    text-align: center;
    color: #fff;
    transition: all 0.5s ease;
}
.wrapper-contant a:nth-child(1):hover{
    background-color: $all__back-color;
    color: $all__btn-back-color;
}
.wrapper-contant a:nth-child(2){
    background-color: $all__back-color;
    border-radius: $all__btn_radius;
    @include text;
    padding: 13px 0;
    display: block;
    width: 247px;
    text-align: center;
    transition: all 0.5s ease;
    color: $all__btn-back-color;
}
.wrapper-contant a:nth-child(2):hover{
    background-color: $all__btn-back-color;
    color: $all__back-color;
}
// footer
.site-footer{
    background: #F2F3F4;
    padding: 60px 0 80px 0;
}
.footer-list{
    @include center(space-between);
    align-items: flex-start;
}
.footer__item:nth-child(1){
    width: 85px;
}
.footer__item:nth-child(2){
    width: 164px;
}
.footer__item:nth-child(3){
    width: 164px;
}
.footer__item:nth-child(4){
    width: 170px;
}
.footer__item:nth-child(5){
    width: 280px;
}
.footer-item-lists__items{
    margin-bottom: 17px;
}
.footer-item-lists__items a{
    font-weight: 400;
    line-height: 18px;
    font-size: 15px;
    color: $all__btn-back-color;
}
.footer-item-lists__items input{
    width: 100%;
    padding: 11px 18px;
    border-radius: 34px;
    border: none;
    background-color: $all__back-color;
}
.footer-item-lists__items input::placeholder{
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(61, 86, 117, 0.4);
}
.footer-item-lists__items input:invalid{
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(61, 86, 117, 0.8);
}
.footer-item-lists__items button{
    background-color: $all__btn-back-color;
    border-radius: $all__btn_radius;
    display: block;
    width: 187px;
    margin-top: 15px;
    padding: 12px 0;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    border: 1px solid #3D5675;
    transition: all 0.5s ease;
}
.footer-item-lists__items button:hover{
    background-color: $all__back-color;
    color: $all__btn-back-color;
}
.footer-item-lists__items a img{
    transition: all 0.5s ease;
}
.footer-item-lists__items a img:hover{
    transform: scale(1.2);
}
.footer-item-lists__items{
    position: relative;
}
.footer-item-lists__items a::after{
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background-color: #FFCA3A;
    left: 0;
    bottom: -1px;
    transition: all 0.5s linear;
}
.footer-item-lists__items a:hover{
    color: #FFCA3A;
}
.footer-item-lists__items a:hover::after{
    width: 50%;
}
.footer-item-lists__items-ps a:hover:after{
    width: 0;
}